* { @include vendor(box-sizing, border-box); }
.transition { @include vendor(transition, 'all 0.5s ease-in-out'); }
.container { width: 100%; }
.fas { padding-right: 5px; }
body { font-family: Arial; }
ul li { list-style: none; }
img { width: 100%; }
.uppercase { text-transform: uppercase; }
.first-letter:first-letter { text-transform: capitalize; }
.block { display: block; }
.centre { text-align: center; }

.wrapper {
  max-width: 1500px;
  width: 88.6%;
  margin: 0 auto;
}

.inline-block { 
  display: inline-block;
  vertical-align: top;
}

a { 
  display: inline-block;
  text-decoration: none;
}

