/**
 * Standard media queries for max-width
 * @param  {text}    Device name
 * @return   {text}  media query with content.
 */
@mixin breakpoint($device) {
  @if ($device == "mac") {
    @media screen and (max-width: $mac) {
      @content;
    }
  } @else if($device == "pc") {
    @media screen and (max-width: $pc) {
      @content;
    }
  } @else if($device == "small-pc") {
    @media screen and (max-width: $small-pc) {
      @content;
    }
  } @else if($device == "notebook") {
    @media screen and (max-width: $notebook) {
      @content;
    }
  } @else if($device == "ipad") {
    @media screen and (max-width: $ipad) {
      @content;
    }
  } @else if($device == "phone") {
    @media screen and (max-width: $phone) {
      @content;
    }
  } @else if($device == "iphone") {
    @media screen and (max-width: $iphone) {
      @content;
    }
  } @else if($device == "small-iphone") {
    @media screen and (max-width: $small-iphone) {
      @content;
    }
  }
}

/**
 * Standard media queries for min-width
 * @param  {text}    Device name
 * @return   {text}  media query with content.
 */
@mixin reverse-breakpoint($device) {
  @if ($device == "mac") {
    @media screen and (min-width: $mac) {
      @content;
    }
  } @else if($device == "pc") {
    @media screen and (min-width: $pc) {
      @content;
    }
  } @else if($device == "small-pc") {
    @media screen and (min-width: $small-pc) {
      @content;
    }
  } @else if($device == "notebook") {
    @media screen and (min-width: $notebook) {
      @content;
    }
  } @else if($device == "ipad") {
    @media screen and (min-width: $ipad) {
      @content;
    }
  } @else if($device == "phone") {
    @media screen and (min-width: $phone) {
      @content;
    }
  } @else if($device == "iphone") {
    @media screen and (min-width: $iphone) {
      @content;
    }
  } @else if($device == "small-iphone") {
    @media screen and (min-width: $small-iphone) {
      @content;
    }
  }
}

/**
 * Standard media queries for min-width and max-width
 * @param  {text}    Device name
 * @return   {text}  media query with content.
 */
@mixin device-breakpoint($device) {
  @if ($device == "mac") {
    @media only screen and (min-width: $pc) and (max-width: $mac) {
      @content;
    }
  } @else if($device == "pc") {
    @media only screen and (min-width: $small-pc) and (max-width: $pc + 1) {
      @content;
    }
  } @else if($device == "small-pc") {
    @media only screen and (min-width: $notebook) and (max-width: $small-pc + 1) {
      @content;
    }
  } @else if($device == "notebook") {
    @media only screen and (min-width: $ipad) and (max-width: $notebook + 1) {
      @content;
    }
  } @else if($device == "ipad") {
    @media only screen and (min-width: $phone) and (max-width: $ipad + 1) {
      @content;
    }
  } @else if($device == "phone") {
    @media only screen and (min-width: $iphone) and (max-width: $phone + 1) {
      @content;
    }
  } @else if($device == "iphone") {
    @media only screen and (min-width: $small-iphone) and (max-width: $iphone + 1) {
      @content;
    }
  } @else if($device == "small-iphone") {
    @media screen and (max-width: $small-iphone + 1) {
      @content;
    }
  }
}

/**
 * Vendor Prefixes
 * @param  {text}    property name
 * @param  {text}    value of the property
 * @return   {text}   property value with vendor prefixes.
 */
@mixin vendor($property, $content) {
  -webkit-#{$property}: $content;
  -moz-#{$property}: $content;
  -ms-#{$property}: $content;
  -o-#{$property}: $content;
  #{$property}: $content;
}

/**
 * Background shorthand properties
 * @param  {text}    Color of font
 * @param  {text}    Font family of font
 * @param  {text}    Font size of font
 * @param  {text}    Font style of font
 * @param  {text}    Font weight of font
 * @param  {text}    Letter spacing of font
 * @param  {text}    Font line height of font
 * @param  {text}    Word spacing of font
 * @return   {text}  Font property with values.
 */
@mixin font($color, $font, $size, $style, $weight, $letter-spacing, $line-height, $word-spacing) {
  color: $color;
  font-family: $font;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  word-spacing: $word-spacing;
}

/**
 * Background shorthand properties
 * @param  {text}    Url of the Image
 * @param  {text}    repeatation of the Image
 * @param  {text}    position of the Image
 * @param  {text}    size of the Image
 * @return   {text}  background property with values.
 */
@mixin background($url, $repeat, $position, $size) {
  background: url($url) $repeat $position/$size;
}

/**
 * position properties
 * @param  {text}    Position
 * @param  {text}    Z-index
 * @param  {text}    Top
 * @param  {text}    Right
 * @param  {text}    Bottom
 * @param  {text}    Left
 * @return   {text}  Position with values.
 */
@mixin position($position: null, $z-index: null, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  z-index: $z-index;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/**
 * Gradient shorthand properties
 * @param  {text}    direction
 * @param  {text}    color-start
 * @param  {text}    color-stop
 * @return   {text}  Linear-gradient property with values.
 */
@mixin gradient($direction, $color-start, $color-stop) {
  background: -webkit-linear-gradient($direction, $color-start, $color-stop);
  background: -moz-linear-gradient($direction, $color-start, $color-stop);
  background: -ms-linear-gradient($direction, $color-start, $color-stop);
  background: -o-linear-gradient($direction, $color-start, $color-stop);
  background: linear-gradient($direction, $color-start, $color-stop);
}

@mixin headingthree {
  margin-bottom: 10px;
  color: $headingthree;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin headingPara {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: $para;
  font-size: 13px;

  &::after {
    content: "";
    width: 52px;
    border-bottom: 2px solid $para;
    margin-top: 23px;
    float: left;
  }
}

@mixin photography-icons($contents) {
  margin-bottom: 35px;
  text-indent: -9999px;

  &::after {
    content: $contents;
    float: left;
    color: $photography-icons;
    font-family: fontAwesome;
    font-size: 30px;
    text-indent: 0;
    -webkit-transition: $hover;
    transition: $hover;
  }

  &:hover::after {
    color: $nav-active;
  }
}

@mixin mainButton {
  a {
    padding: 10px 4.2%;
    border: 1px solid $nav-active;
    color: $nav-active;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: $hover;
    transition: $hover;

    &:hover {
      border-color: $white;
      color: $white;
    }
  }
}
