// Wrapper
$wrapper: 1340px;

//colors
$white: #FFF;
$nav-active: #09B091;
$headingthree: #434150;
$para: #949396;
$photography-border: #DCDCDC;
$photography-icons: #8DE0D2;
$we-are-hiring: #6F6489;
$our-work: #787878;
$your-details: #807980;
$your-details-border: #B5AFB5;
$form-button: #232323;
$we-are-hiring-box: #3D315B;

//hover-effect
$hover: .3s ease-in-out;

// breakpoints
$mac: 1600px;
$pc: 1440px;
$small-pc: 1280px;
$notebook: 1024px;
$ipad: 995px;
$phone: 768px;
$iphone: 550px;
$small-iphone: 320px;
