@charset "UTF-8";
/**
 * Standard media queries for max-width
 * @param  {text}    Device name
 * @return   {text}  media query with content.
 */
/**
 * Standard media queries for min-width
 * @param  {text}    Device name
 * @return   {text}  media query with content.
 */
/**
 * Standard media queries for min-width and max-width
 * @param  {text}    Device name
 * @return   {text}  media query with content.
 */
/**
 * Vendor Prefixes
 * @param  {text}    property name
 * @param  {text}    value of the property
 * @return   {text}   property value with vendor prefixes.
 */
/**
 * Background shorthand properties
 * @param  {text}    Color of font
 * @param  {text}    Font family of font
 * @param  {text}    Font size of font
 * @param  {text}    Font style of font
 * @param  {text}    Font weight of font
 * @param  {text}    Letter spacing of font
 * @param  {text}    Font line height of font
 * @param  {text}    Word spacing of font
 * @return   {text}  Font property with values.
 */
/**
 * Background shorthand properties
 * @param  {text}    Url of the Image
 * @param  {text}    repeatation of the Image
 * @param  {text}    position of the Image
 * @param  {text}    size of the Image
 * @return   {text}  background property with values.
 */
/**
 * position properties
 * @param  {text}    Position
 * @param  {text}    Z-index
 * @param  {text}    Top
 * @param  {text}    Right
 * @param  {text}    Bottom
 * @param  {text}    Left
 * @return   {text}  Position with values.
 */
/**
 * Gradient shorthand properties
 * @param  {text}    direction
 * @param  {text}    color-start
 * @param  {text}    color-stop
 * @return   {text}  Linear-gradient property with values.
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

input[type=radio] {
  vertical-align: text-bottom;
}

label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.transition {
  -webkit-transition: "all 0.5s ease-in-out";
  -moz-transition: "all 0.5s ease-in-out";
  -ms-transition: "all 0.5s ease-in-out";
  -o-transition: "all 0.5s ease-in-out";
  transition: "all 0.5s ease-in-out";
}

.container {
  width: 100%;
}

.fas {
  padding-right: 5px;
}

body {
  font-family: Arial;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.first-letter:first-letter {
  text-transform: capitalize;
}

.block {
  display: block;
}

.centre {
  text-align: center;
}

.wrapper {
  max-width: 1500px;
  width: 88.6%;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

a {
  display: inline-block;
  text-decoration: none;
}

.header {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  padding: 15px 0 0;
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .wrapper h1 {
  text-indent: -9999px;
}
.header .wrapper h1 a {
  float: left;
  text-indent: 0;
}
.header .wrapper nav {
  padding-top: 19px;
  -ms-flex-preferred-size: 47.5%;
  flex-basis: 47.5%;
}
.header .wrapper nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .navigation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header .navigation a::after {
  content: "";
  width: 70px;
  border-bottom: 2px solid #09B091;
  margin-top: 25px;
  float: left;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.header .navigation a:hover::after {
  opacity: 1;
}
.header .navigation a:hover {
  color: #09B091;
}
.header .navigation .navigation__tab--active {
  color: #09B091;
}
.header .navigation .navigation__tab--active::after {
  opacity: 1;
}

.banner {
  position: relative;
}
.banner .wrapper {
  position: absolute;
  top: 275px;
  right: 0;
  left: 0;
}
.banner .wrapper .banner__content {
  width: 61%;
  margin: 0 auto 88px;
  color: #FFF;
  text-align: center;
}
.banner .wrapper .banner__content li {
  display: none;
}
.banner .wrapper .banner__content li:first-child {
  display: block;
}
.banner .wrapper .banner__content h2 {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 29px;
  font-weight: bold;
  text-transform: uppercase;
}
.banner .wrapper .banner__content h2::after {
  content: "";
  margin-top: 25px;
  width: 23%;
  border-bottom: 1px solid #09B091;
  float: left;
}
.banner .wrapper .banner__content p {
  margin-bottom: 53px;
  font-size: 13px;
  line-height: 18px;
}
.banner .wrapper .banner__content__button a {
  padding: 10px 4.2%;
  border: 1px solid #09B091;
  color: #09B091;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.banner .wrapper .banner__content__button a:hover {
  border-color: #FFF;
  color: #FFF;
}
.banner .wrapper .banner__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.banner .wrapper .banner__dots a {
  width: 10px;
  height: 10px;
  margin: 0 8px;
  display: block;
  background-color: #FFF;
  text-indent: -9999px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.banner .wrapper .banner__dots a:hover {
  background-color: #09B091;
}
.banner .wrapper .banner__dots li:first-of-type a {
  background-color: #09B091;
}

.expertise-photography {
  padding: 100px 0 48px;
  text-align: center;
}
.expertise-photography .wrapper .expertise__heading {
  margin-bottom: 10px;
  color: #434150;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.expertise-photography .wrapper .expertise__para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #949396;
  font-size: 13px;
  margin-bottom: 113px;
}
.expertise-photography .wrapper .expertise__para::after {
  content: "";
  width: 52px;
  border-bottom: 2px solid #949396;
  margin-top: 23px;
  float: left;
}
.expertise-photography .wrapper .photography-list {
  width: 83%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.expertise-photography .wrapper .photography-list .photography-list__contents--devider {
  border-bottom: 2px solid #DCDCDC;
}
.expertise-photography .photography-list__contents {
  margin-bottom: 43px;
  -ms-flex-preferred-size: 33.3%;
  flex-basis: 33.3%;
}
.expertise-photography .photography-list li:first-of-type .photography__image-One {
  margin-bottom: 35px;
  text-indent: -9999px;
}
.expertise-photography .photography-list li:first-of-type .photography__image-One::after {
  content: "";
  float: left;
  color: #8DE0D2;
  font-family: fontAwesome;
  font-size: 30px;
  text-indent: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.expertise-photography .photography-list li:first-of-type .photography__image-One:hover::after {
  color: #09B091;
}
.expertise-photography .photography-list li:nth-of-type(2) .photography__image-One {
  margin-bottom: 35px;
  text-indent: -9999px;
}
.expertise-photography .photography-list li:nth-of-type(2) .photography__image-One::after {
  content: "";
  float: left;
  color: #8DE0D2;
  font-family: fontAwesome;
  font-size: 30px;
  text-indent: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.expertise-photography .photography-list li:nth-of-type(2) .photography__image-One:hover::after {
  color: #09B091;
}
.expertise-photography .photography-list li:nth-of-type(3) .photography__image-One {
  margin-bottom: 35px;
  text-indent: -9999px;
}
.expertise-photography .photography-list li:nth-of-type(3) .photography__image-One::after {
  content: "";
  float: left;
  color: #8DE0D2;
  font-family: fontAwesome;
  font-size: 30px;
  text-indent: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.expertise-photography .photography-list li:nth-of-type(3) .photography__image-One:hover::after {
  color: #09B091;
}
.expertise-photography .photography-list li:nth-of-type(4) .photography__image-One {
  margin-bottom: 35px;
  text-indent: -9999px;
}
.expertise-photography .photography-list li:nth-of-type(4) .photography__image-One::after {
  content: "";
  float: left;
  color: #8DE0D2;
  font-family: fontAwesome;
  font-size: 30px;
  text-indent: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.expertise-photography .photography-list li:nth-of-type(4) .photography__image-One:hover::after {
  color: #09B091;
}
.expertise-photography .photography-list li:nth-of-type(5) .photography__image-One {
  margin-bottom: 35px;
  text-indent: -9999px;
}
.expertise-photography .photography-list li:nth-of-type(5) .photography__image-One::after {
  content: "";
  float: left;
  color: #8DE0D2;
  font-family: fontAwesome;
  font-size: 30px;
  text-indent: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.expertise-photography .photography-list li:nth-of-type(5) .photography__image-One:hover::after {
  color: #09B091;
}
.expertise-photography .photography-list li:nth-of-type(6) .photography__image-One {
  margin-bottom: 35px;
  text-indent: -9999px;
}
.expertise-photography .photography-list li:nth-of-type(6) .photography__image-One::after {
  content: "";
  float: left;
  color: #8DE0D2;
  font-family: fontAwesome;
  font-size: 30px;
  text-indent: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.expertise-photography .photography-list li:nth-of-type(6) .photography__image-One:hover::after {
  color: #09B091;
}
.expertise-photography .photography-list h4 {
  margin-bottom: 23px;
  color: #545352;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.expertise-photography .photography-list p {
  margin-bottom: 50px;
  padding: 0 5%;
  color: #949396;
  font-size: 13px;
  line-height: 18px;
}

.we-are-hiring {
  padding: 95px 0;
  background-color: #6f6489;
  text-align: center;
}
.we-are-hiring .wrapper .expertise__heading {
  margin-bottom: 10px;
  color: #434150;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
}
.we-are-hiring .wrapper .expertise__para {
  margin-bottom: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #949396;
  font-size: 13px;
  color: #FFF;
}
.we-are-hiring .wrapper .expertise__para::after {
  content: "";
  width: 52px;
  border-bottom: 2px solid #949396;
  margin-top: 23px;
  float: left;
}
.we-are-hiring .wrapper .expertise__para::after {
  border-color: #FFF;
}
.we-are-hiring .wrapper .members {
  width: 83%;
  margin: 0 auto 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.we-are-hiring .members__list {
  -ms-flex-preferred-size: 22.5%;
  flex-basis: 22.5%;
}
.we-are-hiring .members__list a {
  border: 2px solid #FFF;
  display: block;
  color: #FFF;
}
.we-are-hiring .members__list a:hover {
  box-shadow: 12px 7px 21px -5px #3D315B;
}
.we-are-hiring .members__list figure {
  margin-bottom: 27px;
}
.we-are-hiring .members__list h4 {
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.we-are-hiring .members__list .members__posts {
  margin-bottom: 25px;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
}
.we-are-hiring .we-are-hiring__para {
  margin-bottom: 20px;
  color: #FFF;
  font-size: 13px;
}
.we-are-hiring .we-are-hiring__button a {
  padding: 10px 4.2%;
  border: 1px solid #09B091;
  color: #09B091;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.we-are-hiring .we-are-hiring__button a:hover {
  border-color: #FFF;
  color: #FFF;
}

.our-works {
  padding: 95px 0;
}
.our-works .wrapper {
  width: 80%;
  margin-bottom: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.our-works .wrapper h5 {
  color: #787878;
  font-weight: bold;
  text-transform: uppercase;
}
.our-works .wrapper .all-projects a {
  color: #787878;
  font-size: 12px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.our-works .wrapper .all-projects a::before {
  content: "";
  margin-left: 5px;
  float: right;
  font-family: fontAwesome;
}
.our-works .wrapper .all-projects a:hover {
  color: #09B091;
}
.our-works .our-works__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.our-works .our-works__gallery li {
  -ms-flex-preferred-size: 16.65%;
  flex-basis: 16.65%;
}

.your-details {
  padding-bottom: 110px;
}
.your-details .wrapper {
  width: 73.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.your-details .wrapper h6 {
  margin-bottom: 20px;
  color: #807980;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.your-details .wrapper .your-details__left {
  -ms-flex-preferred-size: 48%;
  flex-basis: 48%;
}
.your-details .wrapper .your-details__left input,
.your-details .wrapper .your-details__left textarea {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #B5AFB5;
  margin-bottom: 15px;
  outline: none;
}
.your-details .wrapper .your-details__left input::-webkit-input-placeholder,
.your-details .wrapper .your-details__left textarea::-webkit-input-placeholder {
  color: #B5AFB5;
  font-size: 16px;
}
.your-details .wrapper .your-details__left input:-ms-input-placeholder,
.your-details .wrapper .your-details__left textarea:-ms-input-placeholder {
  color: #B5AFB5;
  font-size: 16px;
}
.your-details .wrapper .your-details__left input::-ms-input-placeholder,
.your-details .wrapper .your-details__left textarea::-ms-input-placeholder {
  color: #B5AFB5;
  font-size: 16px;
}
.your-details .wrapper .your-details__left input::placeholder,
.your-details .wrapper .your-details__left textarea::placeholder {
  color: #B5AFB5;
  font-size: 16px;
}
.your-details .wrapper .your-details__left textarea {
  height: 180px;
}
.your-details .wrapper .your-details__left button {
  padding: 10px 10%;
  border: 1px solid #09B091;
  background-color: transparent;
  color: #09B091;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}
.your-details .wrapper .your-details__left button:hover {
  border-color: #232323;
  color: #232323;
}
.your-details .wrapper .your-details__right {
  -ms-flex-preferred-size: 48%;
  flex-basis: 48%;
}
.your-details .wrapper .clients {
  height: 78%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.your-details .wrapper .clients img {
  width: auto;
}
.your-details .wrapper .clients .brands-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 48%;
  flex-basis: 48%;
}
.your-details .wrapper .clients .brands-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 48%;
  flex-basis: 48%;
}

/*# sourceMappingURL=style.css.map */
