.banner {
  @include position($position: relative);

  .wrapper {
    @include position($position: absolute, $top: 275px, $right: 0, $left: 0);

    .banner__content {
      width: 61%;
      margin: 0 auto 88px;
      color: $white;
      text-align: center;

      li {
        display: none;
      }
      li:first-child {
        display: block;
      }

      h2 {
        margin-bottom: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 29px;
        font-weight: bold;
        text-transform: uppercase;

        &::after {
          content: "";
          margin-top: 25px;
          width: 23%;
          border-bottom: 1px solid $nav-active;
          float: left;
        }
      }

      p {
        margin-bottom: 53px;
        font-size: 13px;
        line-height: 18px;
      }
    }

    .banner__content__button {
      @include mainButton;
    }

    .banner__dots {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      a {
        width: 10px;
        height: 10px;
        margin: 0 8px;
        display: block;
        background-color: $white;
        text-indent: -9999px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: $hover;
        transition: $hover;

        &:hover { background-color: $nav-active; }
      }

      li:first-of-type a { background-color: $nav-active; }
    }
  }
}
