.expertise-photography {
  padding: 100px 0 48px;
  text-align: center;

  .wrapper {
    .expertise__heading {
      @include headingthree;
    }

    .expertise__para {
      @include headingPara;
      margin-bottom: 113px;
    }

    .photography-list {
      width: 83%;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      .photography-list__contents--devider {
        border-bottom: 2px solid $photography-border;
      }
    }
  }

  .photography-list__contents {
    margin-bottom: 43px;
    -ms-flex-preferred-size: 33.3%;
    flex-basis: 33.3%;

  }

  .photography-list {
    li:first-of-type .photography__image-One {
      @include photography-icons("\f017");
    }
    li:nth-of-type(2) .photography__image-One {
      @include photography-icons("\f03e");
    }
    li:nth-of-type(3) .photography__image-One {
      @include photography-icons("\f108");
    }
    li:nth-of-type(4) .photography__image-One {
      @include photography-icons("\f03e");
    }
    li:nth-of-type(5) .photography__image-One {
      @include photography-icons("\f1fc");
    }
    li:nth-of-type(6) .photography__image-One {
      @include photography-icons("\f08a");
    }

    h4 {
      margin-bottom: 23px;
      color: #545352;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 50px;
      padding: 0 5%;
      color: $para;
      font-size: 13px;
      line-height: 18px;
    }
  }
}
