.header {
  @include position($position: absolute, $z-index: 1, $right: 0, $left: 0);
  padding: 15px 0 0;

  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    h1 {
      text-indent: -9999px;

      a {
        float: left;
        text-indent: 0;
      }
    }

    nav {
      padding-top: 19px;
      -ms-flex-preferred-size: 47.5%;
      flex-basis: 47.5%;
      .navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
    }
  }

  .navigation {
    a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: $white;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      -webkit-transition: $hover;
      transition: $hover;

      &::after {
        content: "";
        width: 70px;
        border-bottom: 2px solid $nav-active;
        margin-top: 25px;
        float: left;
        -webkit-transition: $hover;
        transition: $hover;
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
      }
      &:hover {
        color: $nav-active;
      }
    }
    .navigation__tab--active {
      color: $nav-active;
      &::after {
        opacity: 1;
      }
    }
  }
}
