.our-works {
  padding: 95px 0;

  .wrapper {
    width: 80%;
    margin-bottom: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    h5 {
      color: $our-work;
      font-weight: bold;
      text-transform: uppercase;
    }

    .all-projects {
      a {
        color: $our-work;
        font-size: 12px;
        -webkit-transition: $hover;
        transition: $hover;

        &::before {
          content: "\f054";
          margin-left: 5px;
          float: right;
          font-family: fontAwesome;
        }

        &:hover {
          color: $nav-active;
        }
      }
    }
  }

  .our-works__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    li {
      -ms-flex-preferred-size: 16.65%;
      flex-basis: 16.65%;
    }
  }
}
