.we-are-hiring {
  padding: 95px 0;
  background-color: #6f6489;
  text-align: center;

  .wrapper {
    .expertise__heading {
      @include headingthree;
      color: $white;
    }

    .expertise__para {
      margin-bottom: 125px;
      @include headingPara;
      color: $white;
      &::after {
        border-color: $white;
      }
    }

    .members {
      width: 83%;
      margin: 0 auto 64px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }
  .members__list {
    -ms-flex-preferred-size: 22.5%;
    flex-basis: 22.5%;

    a {
      border: 2px solid $white;
      display: block;
      color: $white;


    &:hover { box-shadow: 12px 7px 21px -5px $we-are-hiring-box; }
    }

    figure {
      margin-bottom: 27px;
    }

    h4 {
      margin-bottom: 8px;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .members__posts {
      margin-bottom: 25px;
      display: block;
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  .we-are-hiring__para {
    margin-bottom: 20px;
    color: $white;
    font-size: 13px;
  }

  .we-are-hiring__button {
    @include mainButton;
  }
}
