.your-details {
  padding-bottom: 110px;

  .wrapper {
    width: 73.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    h6 {
      margin-bottom: 20px;
      color: $your-details;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .your-details__left {
      -ms-flex-preferred-size: 48%;
      flex-basis: 48%;

      input,
      textarea {
        width: 100%;
        padding: 12px 20px;
        border: 1px solid $your-details-border;
        margin-bottom: 15px;
        outline: none;

        &::-webkit-input-placeholder {
          color: $your-details-border;
          font-size: 16px;
        }

        &:-ms-input-placeholder {
          color: $your-details-border;
          font-size: 16px;
        }

        &::-ms-input-placeholder {
          color: $your-details-border;
          font-size: 16px;
        }

        &::placeholder {
          color: $your-details-border;
          font-size: 16px;
        }
      }

      textarea {
        height: 180px;
      }

      button {
        padding: 10px 10%;
        border: 1px solid $nav-active;
        background-color: transparent;
        color: $nav-active;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        -webkit-transition: $hover;
        text-transform: capitalize;
        transition: $hover;

        &:hover {
          border-color: $form-button;
          color: $form-button;
        }
      }
    }

    .your-details__right {
      -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
    }

    .clients {
      height: 78%;
      padding-top: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      img {
        width: auto;
      }

      .brands-one {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
      }

      .brands-two {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
      }
    }
  }
}
